@font-face {
    font-family: 'rajdhani';
    src: url(../police/Rajdhani-Regular.ttf);
  }
  
  @font-face {
    font-family: 'space-grotesk';
    src: url(../police/SpaceGrotesk-VariableFont_wght.ttf);
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Rajdhani';
  font-weight: 400;
  font-size: 36px;
}

button {
  font-family: 'Rajdhani';
  font-size: 20px;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: auto;
}
p {
  font-size: 22px;
}
/* Navigation Bar */

nav {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
  }
  ul a:hover {
    color: #ffff00;
  }
  
  .brand:hover {
    filter: invert(18%) sepia(82%) saturate(4658%) hue-rotate(355deg)
      brightness(109%) contrast(112%);
  }
  